@model Transacao

<form id="formInserir" action="Inserir" method="POST">
    <span>Data do Pagamento: </span><input type="text" id="DataCompensacao" name="DataCompensacao" /><br>
    <span>Data: </span><input type="text" id="data" name="data" /><br>
    <span>Descrição: </span><input type="text" id="descricao" name="descricao" /><br>
    <span>Valor: </span><input type="text" id="valor" name="valor" /><br>
    <span>Categoria: </span><input type="text" id="categoria" name="categoria" /><br>

    <input type="submit" id="Enviar" value="Inserir" />
</form>